:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --line-color: rgba(0, 0, 0, 0.2) /*#EFF0F5*/;
    --primary-color: /*#c39052*/ #3665f3;
    --header-height: 144px /*109px*/;
    --nav-height: 37px;
    --header-with-search-height: calc(var(--header-height) - 2 * var(--nav-height));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto Flex', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;

}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;    
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 1;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    background-color: var(--white-color);
    margin: auto;
    position: relative;
    border-radius: 5px;
    z-index: 1;
}

/* btn style */
.btn {
    min-width: 186px;
    height: 34px;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid #949494;
    font-size: 1.4rem;
    padding: 0;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    text-align: center;
    line-height: 34px;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--primary {
    background-color: #3665f3;
    color: var(--white-color);
}

.btn.btn--disable {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}
.text-bold {
    font-weight: 600!important;
}
.blue-color {
    color: var(--primary-color)!important;
}
.yellow-color {
    color: #FFA500!important;
}
.black-color {
    color: var(--black-color)!important;
}
.red-color {
    color: red!important;
}
.green-color {
    color: #42b19f!important;
}
.ml-8 {
    margin-left: 8px;
}
.mr-8 {
    margin-right: 8px;
}
.mr-0 {
    margin-right: 0;
}
.form--closed {
    display: none;
}
