<footer class="footer">
    <div class="grid">
        <div class="grid__row">
            <div class="grid__column-2-4">
                <h3 class="footer__heading">CHĂM SÓC KHÁCH HÀNG</h3>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item-link">Trung Tâm Trợ Giúp</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item-link">Hướng Dẫn Mua Hàng</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item-link">Thanh Toán</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item-link">Vận Chuyển</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item-link">Trả Hàng & Hoàn Tiền</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item-link">Chăm Sóc Khách Hàng</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item-link">Chính Sách Bảo Hành</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer__heading">GIỚI THIỆU</h3>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item-link">Giới Thiệu Về Chúng Tôi</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item-link">Tuyển Dụng</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item-link">Chính Sách Bảo Mật</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item-link">Chính Hãng</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item-link">Liên Hệ Với Truyền Thông</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer__heading">THANH TOÁN</h3>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <div class="footer__list-item-img">
                            <img src="https://down-vn.img.susercontent.com/file/d4bbea4570b93bfd5fc652ca82a262a8" alt="">
                        </div>
                        <div class="footer__list-item-img">
                            <img src="https://down-vn.img.susercontent.com/file/a0a9062ebe19b45c1ae0506f16af5c16" alt="">
                        </div>
                        <div class="footer__list-item-img">
                            <img src="https://down-vn.img.susercontent.com/file/38fd98e55806c3b2e4535c4e4a6c4c08" alt="">
                        </div>
                        <div class="footer__list-item-img">
                            <img src="https://down-vn.img.susercontent.com/file/bc2a874caeee705449c164be385b796c" alt="">
                        </div>
                        <div class="footer__list-item-img">
                            <img src="https://down-vn.img.susercontent.com/file/2c46b83d84111ddc32cfd3b5995d9281" alt="">
                        </div>
                        <div class="footer__list-item-img">
                            <img src="https://down-vn.img.susercontent.com/file/5e3f0bee86058637ff23cfdf2e14ca09" alt="">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer__heading">THEO DÕI CHÚNG TÔI TRÊN</h3>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item-link">
                            <i class="footer-item__icon fa-brands fa-facebook fa-lg"></i>
                            Facebook
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item-link">
                            <i class="footer-item__icon fa-brands fa-instagram fa-lg"></i>
                            Instagram
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer__list-item-link">
                            <i class="footer-item__icon fa-brands fa-linkedin fa-lg"></i>
                            LinkedIn
                        </a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer__heading">TẢI ỨNG DỤNG TẠI</h3>
                <div class="footer__download">
                    <img src="/img/qr_code.png" alt="QR CODE" class="footer__download-qr">
                    <div class="footer__download-apps">
                        <img src="/img/google_play.png" alt="GOOGLE PLAY" class="footer__download-app-img">
                        <img src="/img/app_store.png" alt="APP STORE" class="footer__download-app-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="grid">
            <p class="footer__text">© 2022 Bản quyền thuộc về Lâm Lý Lê</p>
        </div>
    </div>
</footer>
