<div class="tab-pane contact">
    <div class="contact-adv">
        <div class="contact-adv-slider contact-adv-slider-active">
            <img src="/img/contact-adv-img1.jpg" alt="" class="contact-adv-img">
            <img src="/img/contact-adv-img-decorate1.svg" alt="" class="contact-adv-img-decorate">
            <div class="contact-adv-describe">
                <span class="contact-adv-text">Secure.</span>
                <span class="contact-adv-text">Reliable.</span>
                <span class="contact-adv-text">Free.</span>
                <span class="contact-adv-sub-text">#chrono24buyerprotection</span>
            </div>
        </div>

        <div class="contact-adv-slider">
            <img src="/img/hero-private-apac-lg-2x.webp" alt="" class="contact-adv-img">
            <img src="/img/magnifying-glass.svg" alt="" class="contact-adv-img-decorate">
            <div class="contact-adv-describe">
                <span class="contact-adv-text">Easy &</span>
                <span class="contact-adv-text">secure</span>
                <span class="contact-adv-text contact-adv-text-2">purchases from private sellers</span>
            </div>
        </div>
    </div>
    <!-- Buyer Protection -->
    <div class="contact-buyer-protection">
        <div class="content-section">
            <div class="contact-buyer-protection-heading">
                <img src="/img/Buyer-Protection1.svg" alt="" class="contact-buyer-protection-heading-img">
                <h2 class="section-heading">Chrono24 Buyer Protection: What's Included</h2>
            </div>
            <div class="section-body">
                <div class="contact-buyer-protection-body section-body-block">
                    <a href="#buyer-protection-1">
                        <div class="contact-buyer-protection-body-content section-body-block-content">
                            <img src="/img/Buyer-Protection2.svg" alt="" class="contact-buyer-protection-body-img">
                            <p class="contact-buyer-protection-body-text">Payment via the Escrow Service</p>
                        </div>
                    </a>
                </div>
                <div class="contact-buyer-protection-body section-body-block">
                    <a href="#buyer-protection-2">
                        <div class="contact-buyer-protection-body-content section-body-block-content">
                            <img src="/img/Buyer-Protection-3.svg" alt="" class="contact-buyer-protection-body-img">
                            <p class="contact-buyer-protection-body-text">Authenticity Guarantee</p>
                        </div>
                    </a>
                </div>
                <div class="contact-buyer-protection-body section-body-block">
                    <a href="#buyer-protection-3">
                        <div class="contact-buyer-protection-body-content section-body-block-content">
                            <img src="/img/Buyer-Protection4.svg" alt="" class="contact-buyer-protection-body-img">
                            <p class="contact-buyer-protection-body-text">14 Days Global money-back guarantee</p>
                        </div>
                    </a>
                </div>
                <div class="contact-buyer-protection-body section-body-block">
                    <a href="#buyer-protection-4">
                        <div class="contact-buyer-protection-body-content section-body-block-content">
                            <img src="/img/Buyer-Protection5.svg" alt="" class="contact-buyer-protection-body-img">
                            <p class="contact-buyer-protection-body-text">Strict dealer guidelines</p>
                        </div>
                    </a>
                </div>
                <div class="contact-buyer-protection-body section-body-block">
                    <a href="#buyer-protection-5">
                        <div class="contact-buyer-protection-body-content section-body-block-content">
                            <img src="/img/Buyer-Protection6.svg" alt="" class="contact-buyer-protection-body-img">
                            <p class="contact-buyer-protection-body-text">Insured shipments</p>
                        </div>
                    </a>
                </div>
                <div class="contact-buyer-protection-body section-body-block">
                    <a href="#buyer-protection-6">
                        <div class="contact-buyer-protection-body-content section-body-block-content">
                            <img src="/img/Buyer-Protection7.svg" alt="" class="contact-buyer-protection-body-img">
                            <p class="contact-buyer-protection-body-text">Chrono24's quality & security team</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div id="buyer-protection-1" class="content-section contact-content">
            <div class="contact-content-has-text">
                <div>
                    <h2 class="contact-content-text">Payment via the Escrow Service</h2>
                    <p class="contact-content-sub">Thanks to the Chrono24 Escrow Service, your payment is fully covered. We keep your money in our escrow account for <span class="text-bold">14 days</span> after delivery of your watch. Thus, you have time to carefully inspect your order knowing your money is safe in our account. Only then do we transfer payout to the dealer.</p>
                </div>
            </div>
            <div class="contact-content-has-img">
                <img src="/img/contact-content-img1.webp" alt="" class="contact-content-img">
            </div>
        </div>
        <div id="buyer-protection-2" class="content-section contact-content">
            <div class="contact-content-has-img">
                <img src="/img/contact-content-img2.webp" alt="" class="contact-content-img">
            </div>
            <div class="contact-content-has-text">
                <div>
                    <h2 class="contact-content-text">Authenticity Guarantee</h2>
                    <p class="contact-content-sub">Our promise: Every new and used watch on Chrono24 is authentic. Our dealers are required to inspect each watch's authenticity and may only list original timepieces. However, should issues arise, you have 14 days upon delivery of your order to contact our support team and get your money back.</p>
                </div>
            </div>
        </div>
        <div id="buyer-protection-3" class="content-section contact-content">
            <div class="contact-content-has-text">
                <div>
                    <h2 class="contact-content-text">14 Days Global money-back guarantee</h2>
                    <p class="contact-content-sub">Is your watch defective, malfunction, not as the seller described or does not meet your expectation? No worries! You have 14 days (after the day of delivery) to initiate a return and receive a full refund quickly and easily thanks to our global money-back guarantee.</p>
                    <p class="contact-content-sub">*For details, please inquire via phone or email.</p>
                </div>
            </div>
            <div class="contact-content-has-img">
                <img src="/img/contact-content-img3.webp" alt="" class="contact-content-img">
            </div>
        </div>
        <!-- return -->
        <div class="content-section">
            <h2 class="section-heading">Returns Made Easy</h2>
            <div class="section-body">
                <div class="contact-return-body contact-buyer-protection-body section-body-block">
                    <div class="contact-return-content section-body-block-content">
                        <img src="/img/Returns-Made-Easy1.svg" alt="" class="contact-return-img">
                        <h3 class="contact-return-text">1. Contact our support team</h3>
                        <p class="contact-return-sub-text">Call ( +852 3002 0310 ) or email our support team within 14 days of receiving the watch. We will document and confirm your wish to return your order and guide you through the next steps.</p>                                 
                    </div>
                </div>
                
                <div class="contact-return-body contact-buyer-protection-body section-body-block">
                    <div class="contact-return-content section-body-block-content">
                        <img src="/img/Returns-Made-Easy2.svg" alt="" class="contact-return-img">
                        <h3 class="contact-return-text">2. Ship the watch back to the dealer</h3>
                        <p class="contact-return-sub-text">Send the watch back fully insured and in its original packaging. You will be responsible for the return shipping costs in most cases.</p>                                 
                    </div>
                </div>
                <div class="contact-return-body contact-buyer-protection-body section-body-block">
                    <div class="contact-return-content section-body-block-content">
                        <img src="/img/Buyer-Protection4.svg" alt="" class="contact-return-img">
                        <h3 class="contact-return-text">3. Receive a refund of the full purchase price</h3>
                        <p class="contact-return-sub-text">Finally, we will refund you the full purchase price and the initial shipping costs.</p>                                 
                    </div>
                </div>
            </div>
        </div>
        <div id="buyer-protection-4" class="content-section contact-content">
            <div class="contact-content-has-img">
                <img src="/img/contact-content-img4.webp" alt="" class="contact-content-img">
            </div>
            <div class="contact-content-has-text">
                <div>
                    <h2 class="contact-content-text">Strict dealer guidelines</h2>
                    <p class="contact-content-sub">In the interest of security, dealers on our marketplace must follow a strict set of rules. Before a professional dealer can sell on our platform, they must provide us with their photo ID, commercial register entry, business address, and tax number. Furthermore, we require all dealers to follow our strict dealer guidelines. Authentic customer reviews also provide insights into the respective dealer's services, so you can always be sure who you're buying from.</p>
                </div>
            </div>
        </div>
        <div id="buyer-protection-5" class="content-section contact-content">
            <div class="contact-content-has-text">
                <div>
                    <h2 class="contact-content-text">Insured shipments</h2>
                    <p class="contact-content-sub">Dealers ship every order with full insurance coverage. In rare case of unsuccessful delivery, your shipment would be fully insured, so you can make both domestic and international purchases risk-free.</p>
                    <p class="contact-content-sub">*For details, please inquire via phone or email.</p>
                </div>
            </div>
            <div class="contact-content-has-img">
                <img src="/img/contact-content-img5.webp" alt="" class="contact-content-img">
            </div>
        </div>
        <div id="buyer-protection-6" class="content-section contact-content">
            <div class="contact-content-has-img">
                <img src="/img/contact-content-img6.webp" alt="" class="contact-content-img">
            </div>
            <div class="contact-content-has-text">
                <div>
                    <h2 class="contact-content-text">Chrono24's quality & security team</h2>
                    <p class="contact-content-sub">Our 40-person quality & security team works hard to detect suspicious listings and address issues before they arise, allowing you to focus on what’s most important – finding the right watch!</p>
                    <p class="contact-content-sub">Also our team is always here to support you during the whole buying process, in case there is any issue with the watch you received.</p>
                    <p class="contact-content-sub">*For details, please inquire via phone or email.</p>
                </div>
            </div>
        </div>
        <div class="content-section contact-content">
            <div class="contact-content-has-img">
                <img src="/img/contact-content-img7.webp" alt="" class="contact-content-img">
            </div>
            <div class="contact-content-has-text">
                <div>
                    <h2 class="contact-content-text">Need help?</h2>
                    <p class="contact-content-sub">Our multilingual support team is always available to assist you. No matter what happens, you can count on us!</p>
                    <ul class="contact-need-help-list">
                        <li class="contact-need-help-item contact-need-help-item-phone">
                            <i class="fa-solid fa-phone contact-need-help-icon"></i>
                            <p class="contact-need-help-phone-text">
                                Personalized support
                            </p>
                            <i class="fa-solid fa-mobile contact-need-help-icon"></i>
                            <p class="contact-need-help-phone-number">
                                +852 3002 0310
                            </p>
                        </li>
                        <li class="contact-need-help-item">
                            <i class="fa-solid fa-message contact-need-help-icon"></i>
                            <a href="" class="contact-need-help-link">
                                Contact Chrono24
                            </a>
                        </li>
                        <li class="contact-need-help-item">
                            <i class="fa-regular fa-circle-question contact-need-help-icon"></i>
                            <a href="" class="contact-need-help-faq">
                                Browse our FAQ
                            </a>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>

        <div class="content-section">
            <h2 class="section-heading">Important Facts & Figures</h2>
            <div class="section-body">
                <div class="contact-facts-body contact-buyer-protection-body section-body-block">
                    <div class="contact-facts-content contact-return-content section-body-block-content">
                        <h3 class="contact-facts-text">18</h3>
                        <p class="contact-facts-sub-text">years as the leading marketplace for luxury watches</p>                                 
                    </div>
                </div>
                <div class="contact-facts-body contact-buyer-protection-body section-body-block">
                    <div class="contact-facts-content contact-return-content section-body-block-content">
                        <h3 class="contact-facts-text">39,000</h3>
                        <p class="contact-facts-sub-text">trustworthy sellers from over 120 countries</p>                                 
                    </div>
                </div>
                <div class="contact-facts-body contact-buyer-protection-body section-body-block">
                    <div class="contact-facts-content contact-return-content section-body-block-content">
                        <h3 class="contact-facts-text">200,000</h3>
                        <p class="contact-facts-sub-text">customers choose Buyer Protection annually</p>                                 
                    </div>
                </div>
                <div class="contact-facts-body contact-buyer-protection-body section-body-block">
                    <div class="contact-facts-content contact-return-content section-body-block-content">
                        <h3 class="contact-facts-text">9,000,000</h3>
                        <p class="contact-facts-sub-text">website visitors monthly</p>                                 
                    </div>
                </div>
                <div class="contact-facts-body contact-buyer-protection-body section-body-block">
                    <div class="contact-facts-content contact-return-content section-body-block-content">
                        <h3 class="contact-facts-text">541,000</h3>
                        <p class="contact-facts-sub-text">listings covering a wide range of watches</p>                                 
                    </div>
                </div>
                <div class="contact-facts-body contact-buyer-protection-body section-body-block">
                    <div class="contact-facts-content contact-return-content section-body-block-content">
                        <h3 class="contact-facts-text">6,550,000</h3>
                        <p class="contact-facts-sub-text">satisfied app users</p>                                 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // chuyển silde tab contact
    const slides = document.querySelectorAll('.contact-adv-slider');
    let currentSlide = 0;

    function nextSlide() {
        slides[currentSlide].classList.remove('contact-adv-slider-active');
        currentSlide = (currentSlide + 1) % slides.length;
        slides[currentSlide].classList.add('contact-adv-slider-active');
    }

    setInterval(nextSlide, 5000); // Thay đổi slide sau mỗi 2 giây (2000ms)
</script>